<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 class="text-center">All Department</h1>

    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
          <div class="col-md-10 offset-1">
              <form th:action="@{/emp_save}" th:object="${employee}" method="post">
                  <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">Department</label>
                      <div class="col-sm-10">
                          <textarea rows="3" class="form-control" th:field="*{dName}"/>
                      </div>
                  </div>
              </form>
          </div>

        <div class="col-md-10 offset-1">

          <div class="card">
            <div class="card-body">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sl</th>
                    <th scope="col">Name</th>

                  </tr>
                </thead>
                <tbody>
                  <tr th:each="dep: ${departmentList}">
                    <td th:text="${dep.did}"> </td>
                    <td th:text="${dep.dName}"></td>

                    <td>
<!--                      <a th:href="@{'/dep_delete/'+${emp.did}}" class="btn btn-danger">Delete</a>-->
<!--                      <a th:href="@{'/dep_edit/'+${emp.did}}" class="btn btn-warning">Edit</a>-->
                    </td>
                  </tr>

                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

<div th:insert="footer.html">...</div>